@font-face {
    font-family: MuseoSans; src: url("../Fonts/MuseoSans_700.otf");
    font-family: MyriadPro; src: url("../Fonts/MyriadPro.otf");
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: MyriadPro, sans-serif;
}

h1, h2, h3{
    font-family: MuseoSans, sans-serif;
}

body{
    text-align: center;
    width: 100%;
    display: block;
    background: #dec4aa;
}

/*header*/

header{
    padding: 1rem;
    background: #c5dfa6;
}

header h1{
    display: none;
}

header nav ul{
    list-style: none;
}

header nav ul li a{
    display: block;
    padding: 0.4rem;
    text-decoration: none;
    color: #000000;
    font-size: 2.3rem;
    font-weight: bold;
    background: #c5dfa6;
    border-radius: 3px;
}

header nav ul li~li a:hover{
    background: #dec4aa;
    transition: background-color 500ms;
}

header ul#langSwitch{
    position: absolute;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: #f5a02a solid 1px;
    border-radius: 5px;
    width: 10rem;
    height: 1.5rem;
    right: 1.5rem;
    top: 10px;
}

header ul#langSwitch li{
    width: 100%;
}

header ul#langSwitch li a{
    text-decoration: none;
    color: black;
    display: block;
    width: 100%;
    height: 100%;
    font-size: 1.1rem;
}

header ul#langSwitch li a:hover{
    background: #f5da2a;
}

header ul#langSwitch li:first-child a{
    clip-path: polygon(0 0, 100% 0%, 85% 100%, 0 100%);
    border-radius: 5px 0 0 5px;
}

header ul#langSwitch li~li a{
    clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
}

header ul#langSwitch li:last-child a{
    clip-path: polygon(15% 0%, 100% 0%, 100% 100%, 0% 100%);
    border-radius: 0 5px 5px 0;
}

header ul#langSwitch li a#lang-selected{
    background: #f5a02a;
}

/*home*/

main.home{
    background: #c5dfa6;
}

div#achtergrond-afbeelding{
    background-image: url("../Images/bird-on-tree.jpg");
    height: 30rem;
    width: 100%;
    background-position: center;
    background-size: cover;
    opacity: 0.9;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 95%);
    margin-bottom: 2rem;
}

div#achtergrond-afbeelding h2{
    position: absolute;
    left: 5%;
    top: 60%;
    width: 90%;
    opacity: 1;
    font-size: 3.5rem;
    -webkit-text-stroke: 3px #000;
    color: white;
}

article.home section{
    display: block;
    margin-bottom: 1.5rem;
    padding: 2.5rem 2rem;
}

article.home section div.text{
    margin: auto 1rem;
    text-align: left;
}

article.home section div.text h3{
    font-size: 2.5rem;
    margin: 1rem;
}

article.home section div.text p{
    margin: 1rem;
    font-size: 1.5rem;
}

article.home section div.text a{
    text-decoration: none;
    color: maroon;
}

article.home section img{
    max-width: 90%;
    margin: 2rem auto;
}

article.home section h3{
    font-size: 2rem;
}

article.home section p{
    font-size: 1.3rem;
}

/*reeks*/

main#reeks-main{
    background: #dec4aa;
}

main article#reeks-article{
    padding: 0.3rem 0;
    background: #e3d4bd;
    margin-bottom: 3rem;
}

main article#reeks-article section{
    margin: 0.3rem;
    border: #e3d4bd solid 3px;
    border-radius: 15px;
    background: #fff;
    cursor: pointer;
}

div.product-preview{
    margin: 0 1rem;
    padding: 0.5rem 0;
}

img.product-image{
    max-width: 70%;
    max-height: 20rem;
    margin-bottom: 1rem;
}

h3.product-name{
    font-size: 3rem;
}

p.product-function{
    font-size: 2rem;
}

section.product#dummy{
    display: none;
}

section.product#showing-info div{
    display: block;
    margin: 0.5rem 1rem;
}

section.product div.product-info{
    display: none;
}

section.product#showing-info div dl{
    list-style: none;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 0.8rem;
    grid-row-gap: 0.5rem;
    font-size: 1.8rem;
}

section.product#showing-info div dl dt{
    text-align: right;
}

section.product#showing-info div dl dd{
    text-align: left;
}

article#reeks-article~aside{
    padding: 2rem;
    background: #dec4aa;
}

article#reeks-article~aside h3{
    padding: 1rem;
    font-size: 2rem;
}

article#reeks-article~aside p{
    font-size: 1.3rem;
    padding: 1rem;
}

article#reeks-article~aside a{
    text-decoration: none;
    color: maroon;
}

/*contact*/
main.contact{
    background: #ffffff;
}

article.contact{
   margin: 1rem 5%;padding: 1rem 0 2rem 0;
}

article.contact h2, article.contact h3{
    margin: 1.3rem;
}

article.contact section{
    margin: 4rem 1rem;
}

article.contact section p{
    font-size: 1.2rem;
    margin: 0.4rem 0;
}

article.contact dl{
    display: grid;
    grid-template-columns: 49% 49%;
    column-gap: 0.4rem;
}

article.contact dl dt{
    text-align: right;
}

article.contact dl dd{
    text-align: left;
}

article.contact form{
    display: flex;
    flex-direction: column;
}

article.contact form div.field{
    display: grid;
    grid-template-columns: 30% 70%;
    grid-column-gap: 1rem ;
    margin: 1rem 0;
}

article.contact form div.field label{
    text-align: right;
    font-size: 1.7rem;
}

article.contact form div.field input,
article.contact form div.field select,
article.contact form div.field textarea{
    height: 3rem;
    border: 2px solid #695544;
    border-radius: 3px;
    font-size: 1.2rem;
}

article.contact form div.field textarea{
    height: 12rem;
}

div#confirm{
    display: grid;
    grid-template-columns: 5% 90%;
    grid-column-gap: 1rem;
    margin: 1rem 0;
}

div#response{
    color: #ff0000;
}

div#confirm input{
    text-align: left;
    width: 2rem;
}

article.contact form input#submitButton{
    width: 50%;
    height: 4rem;
    margin: 0 auto;
}

/*footer*/

footer{
    background: #695544;
    padding: 1rem;
    bottom: 0;
    width: 100%;
}

footer p{
    font-size: 1rem;
}

footer ul{
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 1rem;
    font-size: 1.3rem;
}

@media only screen and (min-width: 1080px){

    header nav{
        height: 100%;
    }

    header nav ul{
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: left;
        list-style: none;
    }

    header nav ul li{
        padding-right: 1rem;
    }

    header nav ul li a{
        font-size: 2rem;
    }

    header nav ul li a img{
        height: 100%;
    }

    main#reeks-main{
        background: #dec4aa;
    }

    article#reeks-article{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;
    }

    article.home section{
        max-height: 1000px;
    }

    article.home section.rechts{
        display: flex;
        flex-direction: row-reverse;
    }

    article.home section.links{
        display: flex;
        flex-direction: row;
    }

    article.home section img{
        max-width: 40%;
        margin: auto 0;
    }

    article.contact section{
        margin: 3rem 1rem;
    }

    article.contact form div.field{
        grid-template-columns: 20% 80%;
    }

    section.product#showing-info{
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        border: #e3d4bd solid 5px;
    }

    section.product#dummy{
        display: block;
    }

}

@media only screen and (min-width: 1500px){
    article#reeks-article{
        grid-template-columns: 33.3% 33.3% 33.3%;
    }

    section.product#showing-info{
        width: 33%;
    }
}

